{% extends "website/base.html" %}
{% block content %}
{% load static %}
<div class="note-bg">
    <div class="note-list p-lg-5">
        <h1 class="note-list-heading mb-5">techblog</h1>
        <div class="row p-lg-5 mt-3">
            {% for techblog in techblogs %}
            <div class="col-12 col-lg-3 px-lg-2">
                <div class="card mb-4 ">
                    <a href="{{techblog.id}}" class="note-card">
                        <img class="card-img-top" src="/media/{{techblog.image}}" alt="カードの画像">
                        <div class="card-body p-4">
                            <h5 class="card-title">{{techblog.title}}<br><span
                                    class="small text-muted">{{techblog.published_at}}</span></h5>
                            <p class="card-text">{{techblog.body |truncatechars:90 }}</p>
                            <!-- <br> -->
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}