<p name="UvLT4">青山学院大学公認のプログラミングサークルです。</p>
<h3 name="PycRg">2020/5/31 追記</h3>
<p name="k4C3g">サークルHPが完成したので、こちらもご覧ください。</p>
<figure embedded-service="external-article" contenteditable="false" name="p7Zsl" embedded-content-key="embe95ec10d9ec1"
    data-identifier="null"> <a href="https://www.aoyama-piedpiper.com/" target="_blank"
        rel="nofollow noopener"><strong>PiedPiper</strong>www.aoyama-piedpiper.com</a> </figure>
<p name="R0crK"><br></p>
<h3 name="ACdss">はじめに</h3>
<p name="SIOUB"><br>2019/04にITベンチャーの集積地である渋谷にある青学でプログラミングが活発でないことに疑問を感じサークルを立ち上げ、5月には大学公認愛好団体となりました。</p>
<p name="SQ2FP"><a href="http://takanoridayo.blog.shinobi.jp/Entry/572/" target="_blank" rel="nofollow noopener"><img
            src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/12665384/picture_pc_ed8308a5ad3efe049456c8bd867f4267.png"
            width="580" height="622" alt="画像1" style="width: 348px; height: 373.2px;" class=""></a></p>
<p name="NWAdz">サークル名の「パイドパイパー」は<a
        href="https://www.amazon.co.jp/gp/video/detail/B077TD11DK/ref=cm_sw_tw_r_pv_wb_27Sqyj8osw22d" target="_blank"
        rel="nofollow noopener">ドラマ「シリコンバレー」</a>から名付けており、うちのサークルに入るにはこのドラマをAmazon primeで見てから入ることをお勧めします。</p>
<p name="ghOts"><a href="https://www.amazon.co.jp/gp/video/detail/B077TD11DK/ref=cm_sw_tw_r_pv_wb_27Sqyj8osw22d"
        target="_blank" rel="nofollow noopener"><img
            src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/12554871/picture_pc_d122a099768993cc8a105fb848b2d64f.jpg"
            width="500" height="250" alt="画像2" class=""></a></p>
<h3 name="i1AUj"><b>活動内容</b></h3>
<p name="K5UBs"><b>・プログラミング学習</b><br>初学者が多いので、前期はハンズオン形式で活動を行いました。教材はUdemyの<a
        href="https://www.udemy.com/web-application-development/" target="_blank"
        rel="nofollow noopener">Web開発入門完全攻略コース</a>を指定して、これにわからないところはProgateを用いるようにしました。</p>
<p name="d2hUc"><img alt="画像11"
        src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/14452201/picture_pc_d77aeaa4285b7c3beb0183af5995faee.jpg"
        width="620" height="465" style="width: 372px; height: 279px;"></p>
<p name="go2es">
    <b>・イベント<br></b>6/14に「青学生をアップデートせよ」というテーマで青学生向けのキャリアトークセッションを行いました。経済メディアのNewsPicks様に協賛をいただき、ゲストは地球社会共生学部の松永エリック教授・株式会社TechBowlの小澤政生さん・青学生起業家の宮脇悠介さんに来ていただきました。
</p>
<figure data-identifier="na9c4e1f7d660" embedded-service="note" contenteditable="false" name="wfMX8"
    embedded-content-key="emb185009af84e8"> </figure>
<p name="zGeLP"><b>・合宿</b><br>夏休みに青学生が運営する白馬ヒュッテで行い、Twitterアプリの開発を行いました。</p>
<figure data-identifier="n3478faa43290" embedded-service="note" contenteditable="false" name="bDf95"
    embedded-content-key="emb14884fddb61b"> </figure>
<p name="vh6XP"><b>・オフィスツアー</b><br>ヒュッテで出会った青学OBでマイクロソフトの中田寿穂さんに招待いただき、マイクロソフトのオフィスツアーに行ってきました。</p>
<figure data-identifier="n699e4dc88014" embedded-service="note" contenteditable="false" name="AI8af"
    embedded-content-key="emb45173122de57"> </figure>
<p name="4Ln1a"><b>・勉強会</b><br><a href="https://www.play-company.jp" target="_blank"
        rel="nofollow noopener">株式会社PLAY</a>の方にお越しいただき、RPAの勉強会を行いました。</p>
<figure data-identifier="n63937971d0eb" embedded-service="note" contenteditable="false" name="lyikK"
    embedded-content-key="emb017cfdbd0690"> </figure>
<p name="6Ppdq"><br></p>
<p name="ngXFA"><b>・ハッカソン</b><br><a href="https://techbowl.co.jp" target="_blank"
        rel="nofollow noopener">株式会社TechBowl</a>主催のHackBowlに参加させていただきました。エンジニア向けのサービスとして、顔が女の子に変わったり、猫がキーボードの上を歩いたりするARアプリをUnityで開発しました。
</p>
<figure data-identifier="n5326a636f9f3" embedded-service="note" contenteditable="false" name="ea63C"
    embedded-content-key="emb93bc1b4e7f39"> </figure>
<p name="TNinu"><br></p>
<p name="Cih9R"><b>・青山祭<br></b>総文の宮田ラボと大島ゼミと共催で、青山テックフェスとしてVR体験会・プログラミング体験会・作品展示を行いました。</p>
<figure data-identifier="n6a975169edd4" embedded-service="note" contenteditable="false" name="oweKd"
    embedded-content-key="emb268f5de02a12"> </figure>
<p name="mpCt7"><b>・DeNA様との提携</b></p>
<p name="EGXTN">新たなパートナーとして、渋谷のITベンチャーであるDeNA様にオフィスに招待していただきました。</p>
<figure data-identifier="nbb429ad772f6" embedded-service="note" contenteditable="false" name="bmsTX"> </figure>
<figure embedded-service="note" contenteditable="false" data-identifier="nbb429ad772f6" name="jy0HX"
    embedded-content-key="emb6f9a88c73fa3"> </figure>
<p name="xJvjk"><br></p>
<h3 name="Q6fEO">入部をお考えの方へ</h3>
<p name="ZndYZ">うちのサークルは初心者の方も歓迎なのでぜひ一度ご連絡ください。プログラミングを学ぶことはエンジニアになりたい方だけではなくて、以下に該当する方にもオススメです。</p>
<p name="Pkr0U">・論理的思考力を身に付けたい<br>・起業したい（エンジニアとコミュニケーションを取れるようにしたい）<br>・教育関係の仕事をしたい（プログラミング
    教育必修化）<br>・ものづくりが好き<br>・自由な時間で、好きな場所で働きたい<br>・文系だけどテクノロジーの理解を深めたい<br></p>
<p name="re4rr">＊プログラミングはあくまで自主学習が基本なので、自主学習することが厳しい方には向いていないと思います。</p>
<p name="6WgZe"><b>活動日時</b></p>
<p name="ewHP0">・青山キャンパス　不定（Twitterまたは、メールにてご連絡ください）</p>
<p name="ttRjm">・相模原キャンパス　不定（Twitterまたは、メールにてご連絡ください）</p>
<p name="Os1fd"><b>コミュニケーションツール</b></p>
<p name="dS4uN">主にSlackを使用します。活動参加後、入部希望の方は招待。slackってなに？という方は<a
        href="https://note.com/piedpiper_aoyama/n/nc7a429504adf?creator_urlname=piedpiper_aoyama" target="_blank"
        rel="nofollow noopener">こちら</a>をご覧ください。</p>
<figure data-identifier="nc7a429504adf" embedded-service="note" contenteditable="false" name="D3HbP"
    embedded-content-key="embbbb1131f9090"> </figure>
<p name="G7cYj"><b>備品</b></p>
<p name="Orffy">以下のものをご自由にお使いいただけます</p>
<p name="ytCp8">・パソコン</p>
<figure data-identifier="nc291882d352e" embedded-service="note" contenteditable="false" name="epyH7"
    embedded-content-key="embe10621beb123"> </figure>
<p name="383CF">・ボードゲーム</p>
<figure data-identifier="nb0958af25a80" embedded-service="note" contenteditable="false" name="EK0HZ"
    embedded-content-key="embb831d8e0ef2b"> </figure>
<h3 name="SL4jW"><b>提携企業</b><br></h3>
<p name="lyxtK">・<a href="https://techbowl.co.jp" target="_blank" rel="nofollow noopener">株式会社TechBowl</a></p>
<p name="mOijg">プロの現役エンジニアと無料で面談できるサービス「TechTrain」を提供しています。</p>
<figure data-identifier="null" embedded-service="external-article" contenteditable="false" name="o7G7B"
    embedded-content-key="embc17e0043a676">
    <a href="https://techbowl.co.jp/" target="_blank" rel="nofollow noopener"><strong>TechBowl |
            集え、混ざれ、"鮮"なエンジニア。</strong>集え、混ざれ、”鮮”なエンジニア。techbowl.co.jp</a><a href="https://techbowl.co.jp/"
        target="_blank" rel="nofollow noopener"></a>
</figure>
<p name="UQT4u">・<a href="https://www.play-company.jp" target="_blank" rel="nofollow noopener">PLAY株式会社</a></p>
<p name="7wBWz">​「すべてを自動化し、「好きを仕事に」できる世界へ」<br>RPAの導入支援や、RPAエンジニアの教育を提供しています。</p>
<figure data-identifier="null" embedded-service="external-article" contenteditable="false" name="Hdii3"
    embedded-content-key="emb4f60761057f3">
    <a href="https://www.play-company.jp/" target="_blank" rel="nofollow noopener"><strong>PLAY株式会社 |業務自動化コンサルティング・開発 |
            日本</strong>PLAY株式会社は業務改革（BPR）コンサルティング、RPA、ERP、システム開発などのITを活用してあらゆるオフィス業務www.play-company.jp</a><a
        href="https://www.play-company.jp/" target="_blank" rel="nofollow noopener"></a>
</figure>
<p name="xNDPb">・<a href="https://dena.com/jp/" target="_blank" rel="nofollow noopener">DeNA株式会社</a></p>
<p name="Wa8EQ">いろいろやってます。</p>
<figure embedded-service="external-article" contenteditable="false" name="UNyog" embedded-content-key="embb6ee7808dbcc"
    data-identifier="null">
    <a href="https://dena.com/jp/" target="_blank" rel="nofollow noopener"><strong>株式会社ディー・エヌ・エー【DeNA】 | Delight and
            Impact the World</strong>株式会社ディー・エヌ・エー【DeNA】の公式ホームページです。DeNAのサービス、企業情報などをご紹介しています。dena.com</a><a
        href="https://dena.com/jp/" target="_blank" rel="nofollow noopener"></a>
</figure>
<p name="nHluN"><br></p>
<p name="EDYVa">他にも株式会社LITALICO様に活動に来ていただいたり、サイバーエージェント様に採用イベントの招待をいただいたりしています。活動に興味のある企業様、お気軽にご連絡くださいませ。</p>
<h3 name="thRb8"><b>お問い合わせ・SNS</b></h3>
<p name="gPdNJ">基本的にはTwitterのDMまたはメールしていただけると助かります。<br>Mail: piedpiper.aoyama@gmail.com<br>Twitter：@PiedPiper_AGU
    (https://twitter.com/PiedPiper_AGU?lang=ja)<br>Instagram: piedpiper_aoyama<br>FaceBook :&nbsp;<a
        href="https://m.facebook.com/%E9%9D%92%E5%B1%B1%E5%AD%A6%E9%99%A2%E5%A4%A7%E5%AD%A6PiedPiper%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E6%84%9B%E5%A5%BD%E4%BC%9A-1485441121587270/"
        target="_blank" rel="nofollow noopener">https://m.facebook.com/青山学院大学PiedPiperプログラミング愛好会-1485441121587270/</a>
</p>
<p name="QYfso"><b>取材依頼について</b></p>
<p name="66Ck4">過去に青学新聞やAGESTOCK様に取材していただきました。</p>
<p name="oE1M6">
    以下のお願いを守っていただけるようお願いします。<br>・取材後の原稿については写真ではなく、文字で送っていただけると助かります。こちらで校正します。<br>・取材日・原稿確認日・掲載日などをあらかじめお伝えください、未定の場合はその旨をお伝えください。
</p>


<iframe class="note-embed" src="https://note.com/embed/notes/n98ab027cb50d" style="border: 0; display: block; max-width: 99%; width: 494px; padding: 0px; margin: 10px 0px; position: static; visibility: visible;" height="400"></iframe><script async src="https://note.com/scripts/embed.js" charset="utf-8"></script>